
.login{

    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 15px;


}

.regis{
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 15px;
}

.logo {
    width: 75px;
    height: 75px;
    margin-left: 10%;
    margin-top: 50px;
}

.knopf{
    margin-left: 70%;
    width: 120px;
    height: 30px;
    font-size: 15px;
}